---
import Layout from "../layouts/Layout.astro";
import "./index.css";
import logo from "../assets/logo.svg";
import icon from "../assets/icon.svg";
import ScrollAnimations from "../scripts/scrollAnimations.astro";
import people from "../assets/people.jpg";
---

<Layout>
  <div class="navbar">
    <div class="logo-container">
      <img src={icon.src} alt="" class="icon" />
      <img src={logo.src} alt="" class="logo" />
    </div>
    <button>Menu</button>
    <ul>
      <li><div>Services</div><div class="link-ball"></div></li>
      <li><div>Mission</div><div class="link-ball"></div></li>
      <li><div>Team</div><div class="link-ball"></div></li>
      <li><div>Careers</div><div class="link-ball"></div></li>
      <li><div>Contact</div><div class="link-ball"></div></li>
    </ul>
  </div>
  <section class="section-1">
    <div>We are action-oriented strategists.</div>
    <div>We help our clients achieve great things.</div>
  </section>
  <section class="section-2">
    <div class="content">
      <h2>Who is your Actionist?</h2>
      <div class="ball"></div>
      <img src={people.src} alt="" />
      <p>
        We are the chosen partner to leading firms in the fields of financial
        services, consumer & retail, business services, technology, and
        institutional investing.
      </p>
      <button
        ><div>See Examples</div><span class="material-symbols-outlined">
          <span class="material-symbols-outlined"> arrow_right_alt </span>
        </span></button
      >
    </div>
  </section>
  <ScrollAnimations client:load />
</Layout>
